#Scrollbar-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 12px; }
  #Scrollbar-wrapper #scrollbar {
    position: fixed;
    right: 2px;
    width: 8px;
    border-radius: 5px;
    background: #444;
    z-index: 1; }
