@import url("https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css");
#Skills .skills-header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  margin: 1.5rem 0 1rem; }
  #Skills .skills-header .IconSkill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 6rem;
    width: 5rem;
    margin: 1rem 3rem;
    color: rgba(255, 255, 255, 0.7); }
    #Skills .skills-header .IconSkill i {
      font-size: 4rem;
      margin-bottom: 0.5rem;
      transition: font-size 0.3s, color 0.3s; }
    #Skills .skills-header .IconSkill h3 {
      transition: font-size 0.3s, color 0.3s; }
  #Skills .skills-header .IconSkill:hover i {
    color: rgba(255, 255, 255, 0.9);
    font-size: 4.5rem; }
  #Skills .skills-header .IconSkill:hover h3 {
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.75rem; }

#Skills .skills-section {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: space-around;
  align-items: center; }

#Skills .Skill {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 5rem;
  margin: 1rem 2rem;
  color: rgba(255, 255, 255, 0.7);
  transition: color 0.3s; }
  #Skills .Skill h3 {
    background: #222;
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
    transition: font-size 0.3s, background-color 0.3s; }

#Skills .Skill:hover {
  color: rgba(255, 255, 255, 0.9);
  cursor: default; }
  #Skills .Skill:hover h3 {
    font-size: 1.625rem;
    background: #252525; }
  #Skills .Skill:hover i {
    font-size: 2.575rem; }
