
@import url("https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css");

#Skills {
    .skills-header {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-flow: row wrap;
        margin: 1.5rem 0 1rem;
        .IconSkill {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 6rem;
            width: 5rem;
            margin: 1rem 3rem;
            color: rgba(255, 255, 255, 0.7);
            i {
                font-size: 4rem;
                margin-bottom: 0.5rem;
                transition: font-size 0.3s, color 0.3s;
            }
            h3 {
                transition: font-size 0.3s, color 0.3s;
            }
        }
        .IconSkill:hover {
            i {
                color: rgba(255, 255, 255, 0.9);
                font-size: 4.5rem;
            }
            h3 {
                color: rgba(255, 255, 255, 0.9);
                font-size: 1.75rem;
            }
        }
    }
    h2 {
        margin-top: 1rem;
    }
    .skills-section {
        width: 100%;
        margin: 0 1rem 1rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-content: space-around;
        align-items: center;
    }
    .Skill {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.5rem 1rem;
        color: rgba(255, 255, 255, 0.7);
        transition: color 0.3s;
        h3 {
            position: relative;
            background: #222;
            padding: 0.5rem 0.75rem;
            border-radius: 0.25rem;
            overflow: hidden;
            .slide {
                background: rgba(255, 255, 255, 0.075);
                position: absolute;
                top: -200%;
                width: 0;
                height: 500%;
                right: -15%;
                transform: rotate(-30deg);
                transition: width 0.35s cubic-bezier(.65,.15,0,1);
            }
        }
    }
    .Skill:hover {
        color: rgba(255, 255, 255, 0.9);
        cursor: default;
        h3 {
            .slide {
                width: 125%;
            }
            // font-size: 1.625rem;
            // color: rgba(255, 255, 255, 0.9);
            // background: #252525;
        }
        i {
        // font-size: 2.575rem;
        }
    }
}