#NavButtons #menu-button {
  cursor: pointer; }

#NavButtons .menu-button {
  position: fixed;
  top: 35px;
  right: 50px;
  height: 60px;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3; }
  #NavButtons .menu-button div {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 2px;
    height: 2px;
    width: 45px;
    margin: 4px 0;
    transition: margin 0.6s cubic-bezier(0.65, 0.15, 0, 1), transform 0.8s cubic-bezier(0.65, 0.15, 0, 1), width 0.8s, background-color 0.8s; }

#NavButtons .open-menu:hover div {
  margin: 7px 0; }

#NavButtons .close-menu div {
  margin: -1px;
  width: 60px; }

#NavButtons .close-menu #menu-one, #NavButtons .close-menu #menu-three {
  transform: rotate(-135deg);
  background: rgba(255, 255, 255, 0.2); }

#NavButtons .close-menu #menu-two {
  transform: rotate(135deg); }

#NavButtons .close-menu:hover #menu-one, #NavButtons .close-menu:hover #menu-three {
  transform: rotate(-128deg); }

#NavButtons .close-menu:hover #menu-two {
  transform: rotate(128deg); }

#NavButtons .arrow {
  position: fixed;
  top: 25vh;
  bottom: 25vh;
  width: 90px;
  margin: 30px;
  padding: 0;
  transition: left 0.8s cubic-bezier(0.65, 0.15, 0, 1, right 0.8s cubic-bezier(0.65, 0.15, 0, 1)); }
  #NavButtons .arrow a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s cubic-bezier(0.65, 0.15, 0, 1); }
  #NavButtons .arrow div {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 2px;
    height: 2px;
    width: 30px;
    margin: 9px 0;
    transition: margin 0.3s cubic-bezier(0.65, 0.15, 0, 1), transform 0.3s cubic-bezier(0.65, 0.15, 0, 1), width 0.3s, left 0.5s, right 0.5s cubic-bezier(0.65, 0.15, 0, 1); }

#NavButtons .left {
  left: 0; }
  #NavButtons .left div {
    transform: rotate(135deg); }
  #NavButtons .left div + div {
    transform: rotate(-135deg); }

#NavButtons .left:hover a {
  transform: translateX(-3px); }

#NavButtons .left:hover div {
  margin: 11px;
  transform: rotate(120deg); }

#NavButtons .left:hover div + div {
  transform: rotate(-120deg); }

#NavButtons .right {
  right: 0; }
  #NavButtons .right div {
    transform: rotate(-135deg); }
  #NavButtons .right div + div {
    transform: rotate(135deg); }

#NavButtons .right:hover a {
  transform: translateX(3px); }

#NavButtons .right:hover div {
  margin: 11px;
  transform: rotate(-120deg); }

#NavButtons .right:hover div + div {
  transform: rotate(120deg); }

#NavButtons .left-away {
  left: -100px; }

#NavButtons .right-away {
  right: -100px; }
