#Projects {
    .project {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 1rem 0 3rem;
        .info-wrapper {
            display: flex;
            justify-content: space-between;
            margin: 1rem 0;
            .info {
                h3 {
                    font-style: italic;
                    color: rgba(255, 255, 255, 0.4);
                }
                p {
                    margin-bottom: 0.75rem;
                }
            }
            .image {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                margin-left: 1.5rem;
                width: 350px;
                min-width: 350px;                
                height: 200px;
                min-height: 200px;                
                background: black;
                overflow: hidden;
                img {
                    width: 350px;
                    height: 207.5px;
                    transition: width 0.2s, height 0.2s;
                }
            }
            .image:hover {
                img {
                    // width: 353.5px;
                    // height: 210px;
                }
            }
        }
        .tech-list {
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: center;
            margin: 0.5rem 0;
            .Tech {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin: 0.75rem 1.5rem 0.5rem;
                margin-left: 0;
                h4 {
                    position: relative;
                    background: #222;
                    padding: 0.25rem 0.5rem;
                    border-radius: 0.25rem;
                    overflow: hidden;
                    .slide {
                        background: rgba(255, 255, 255, 0.075);
                        position: absolute;
                        top: -200%;
                        width: 0;
                        height: 500%;
                        right: -15%;
                        transform: rotate(-30deg);
                        transition: width 0.35s cubic-bezier(.65,.15,0,1);
                    }
                }
            }
            .Tech:hover {
                cursor: default;
                h4 {
                    // background: #252525;
                    .slide {
                        width: 130%;
                    }
                }
            }
        }
    }
}