
.App {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2D2D2D;
  color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;

  a {
      color: rgba(255, 255, 255, 0.5);
  }
}

::-webkit-scrollbar {
    display: none;
}

content {
  margin: 0 150px;
  background: #999;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start; // center;
    justify-content: flex-start;
    margin: 95px 8vw;
    h1 {
        font-size: 3rem;
        color: rgba(255, 255, 255, 0.8);
        margin-bottom: 2rem;
    }
    h2 {
        font-size: 1.5rem;
        color: rgba(255, 255, 255, 0.6);
        margin-bottom: 1.5rem;
    }
    p {
        font-size: 1.175rem;
        color: rgba(255, 255, 255, 0.4);
        line-height: 125%;
    }
}

#Projects {
    background: #555;
}

#About {
    background: #666;
}

#Skills {
    background: #777;
}

#Contact {
    background: #888;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
