
.App {
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2D2D2D;
  color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;

  a {
      color: rgba(255, 255, 255, 0.5);
  }
}

::-webkit-scrollbar {
    display: none;
}

content {
  position: relative;
  margin: 0 150px;
  background: #999;
  min-height: 200vh;
  background-image: linear-gradient(0deg, red, black, blue);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start; // center;
    justify-content: flex-start;
    padding: 95px 8vw;
    width: calc(100% - 16vw);
    h1 {
        font-size: 3rem;
        color: rgba(255, 255, 255, 0.8);
        margin-bottom: 2rem;
    }
    h2 {
        font-size: 1.5rem;
        color: rgba(255, 255, 255, 0.6);
        margin-bottom: 1.5rem;
    }
    p {
        font-size: 1.175rem;
        color: rgba(255, 255, 255, 0.4);
        line-height: 125%;
    }
}

#About {
    opacity: 0.6;
    background: #555;
    position: absolute;
    transition: left 1s cubic-bezier(.65,.150,1);
}

#Skills {
    opacity: 0.6;
    background: #666;
    position: absolute;
    transition: left 1s cubic-bezier(.65,.150,1);
}

#Projects {
    opacity: 0.6;
    background: #777;
    position: absolute;
    transition: left 1s cubic-bezier(.65,.150,1);
}

#Contact {
    opacity: 0.6;
    background: #888;
    position: absolute;
    transition: left 1s cubic-bezier(.65,.150,1);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
